[Unit]
Description=Sysprep
Before=network.target

[Service]
Type=oneshot
TTYPath=/dev/console
ExecStart=/opt/sysprep/sysprep
StandardInput=tty

[Install]
WantedBy=multi-user.target
